<html>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='shortcut icon' href='/images/favicon.png' />
  <meta name='og:type' content='website' />
  <meta name='twitter:card' content='photo' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>

<body style='margin: 0; background: rgba(255, 255, 255, 1)'>
  <input type='hidden' id='anPageName' name='page' value='desktop-1' />
  <div class='main'>
    <div class='main-content'>
      <h1 class='main-content__header'>
        {{__ 'euid-portal-title'}}
      </h1>
      <div class='main-content__divider'></div>
      <p class='main-content__description'>
        {{__ 'euid-we-have-received-your-request' }}
      </p>
      <a href='/'>
        <button>
          {{__ 'euid-exit'}}
        </button>
      </a>
    </div>
    <div class='main__footer'>
      <h3 class='main__logo-label'>Powered by</h3>
      <img class='main__logo' src='/images/EUID.png' />
    </div>
  </div>
</body>

</html>