{{#> full_layout css_file="privacy.css" }}
<div class="main">
  <div class="main-content">
    <a href="/"><img class="title" src="/images/EUID.png" /></a>
    <h1 class="title">EUID Privacy Notice</h1>
    <br>
    <h2>EUID Overview</h2>
    <h3>What is EUID?</h3>
    <p>EUID is a tool used in digital advertising to show you advertisements in a way that respects your privacy and does not rely on third party cookies. The UK Trade Desk Ltd (‘The Trade Desk’, ‘we’, ‘us’, ‘our’) is a controller for EUID, together with the advertisers, data partners, and publishers who use it (we call these organisations ‘EUID participants’). This notice describes how The Trade Desk operates EUID and the rights and choices you have if you provide your email address or phone number. Click <a href="#privacy-notice">here</a> if you want to skip ahead to the privacy notice. EUID participants will separately tell you how they use EUID for their own purposes – for example, when you visit a publisher’s website, it may provide this information to you in its privacy notice when it collects your email address or phone number to use it for EUID.</p>

    <h3>Why do EUID participants use EUID?</h3>
    <p>EUID participants improve their digital marketing campaigns by offering you a better experience of digital advertising. With your permission, EUID enables participants to gather and combine data across different sites, apps, and other contexts, and to share data with each other in relation to the buying and selling of advertising online. This in turn helps advertisers to show ads that are more relevant to you, can limit the number of times you see the same ad, and publishers are paid more for the same ad. This helps to fund their online content and keeps access fees low for users.</p>

    <h3>How does it work?</h3>
    <p>If you provide your email address or phone number to an EUID participant, such as a website where you log in, or with an advertiser where you have an account, then they can then send your email address or phone number to The Trade Desk to be turned into an advertising identifier (called an EUID).</p>

    <div class="blue-box narrow">
      <h3>Example:</h3>
      <p>You buy a pair of shoes from <i>ShoesRUs.com</i>, and <i>ShoesRUs</i> want to show you an ad for another pair of shoes it thinks you’ll like.</p>
      <p>You later read the news on <i>ilovenews.com</i>. If both <i>ShoesRUs.com</i> and <i>ilovenews.com</i> have your EUID, <i>ShoesRUs</i> can make sure that its shoe ad is shown to you.</p>
    </div>

    <p>An EUID is made by putting your email address or phone number through complex algorithms to turn it into a string of text and numbers so that is no longer recognisable as that email address or phone number. It is not possible for anyone with the EUID to reverse this process to determine your email address or phone number.</p>
    
    <div class="blue-box narrow">
      <h3>Example:</h3>
      <p>An email address: <i>janesmith@myemail.com</i> turned into an EUID will be : ODJYV34CH3645SKGBNDK.</p>
    </div>

    <p>The Trade Desk uses your email address or phone number only to create and operate the EUID and comply with data protection law. You can opt out from having your email address or phone number used as an advertising identifier in EUID as a user at any time.</p>
    <p>Click <a href="#your-rights">here</a> to read more details about your rights and how to opt-out.</p>

    <h2 id="privacy-notice">EUID Privacy Notice</h2>
    <p>This privacy notice describes how The Trade Desk creates and operates EUID and your rights with respect to EUID. The Trade Desk is a joint controller with each EUID participant, as described more fully below, but this notice does not describe how EUID participants may use an EUID after it is created. Their use of EUID is described in their own privacy notices.</p>
    <p>The Trade Desk also processes EUIDs as a service for advertisers in connection with its Demand Side Platform. This use is separate from The Trade Desk’s creation and operation of EUID as described in this privacy notice. For more information on this use, and how your personal data is used in relation to The Trade Desk’s Demand Side Platform, please see The Trade Desk <a href="https://www.thetradedesk.com/us/privacy">Services Privacy Policy</a>.</p>
    <p>This privacy notice applies only if you are based in the European Economic Area (EEA), Switzerland, or United Kingdom (UK), or your data is otherwise protected by EEA, Swiss, or UK laws.</p>

    <h2 id="your-rights">Your rights and how to withdraw consent or opt-out</h2>
    <p>You have the right to access your data, to ask us to provide it to you (or a third party) in machine readable format, and to correct, delete and restrict your data. These rights may be limited, for example if you ask us to delete information which we are required by law to keep or have compelling legitimate interests in keeping. You can also object to our processing of your data under certain conditions.</p>
    <p>If you want to exercise these rights in relation to EUID, you can contact either the EUID participants, using the details set out in their privacy notices, or you can contact The Trade Desk using the contact details provided in this notice. You may also use the EUID Transparency and Control Portal described below. We may take reasonable steps to confirm your identity.</p>
    <p>If your email address or phone number has been used to create an EUID, you can withdraw consent or opt out of the processing of the EUID at any time. You can do this via the EUID Transparency and Control Portal available <a href="https://transparentadvertising.eu/">here</a>.</p>
    <p>If you follow the steps set out at the Transparency and Control Portal, The Trade Desk will stop creating EUIDs relating to the email address or phone number you provided. We will also instruct EUID participants, to whom The Trade Desk has issued EUIDs, to stop using the EUID for targeted digital advertising campaigns.</p>
    <p>Where an EUID participant has asked us to create an EUID from your email address or phone number, you can also contact that party directly to find out how to opt out with that EUID participant and stop their processing of your email address or phone number. If you want to stop all EUID participants creating and processing EUIDs for your email address or phone number, you should use the Transparency and Control Portal.</p>
    <p>If you withdraw consent, this will not affect the lawfulness of any processing based on consent before its withdrawal.</p>

    <h2>Joint Controllers</h2>
    <p>The Trade Desk and each EUID participant, to whom you provided your email address or phone number to generate the EUID, are joint controllers for the processing involved in submitting your email address or phone number to The Trade Desk, creating an EUID and returning the EUID to the EUID participant.</p>
    <ul class="spaced">
      <li>The EUID participant who submitted your email address or phone number to create an EUID is responsible for providing you with information about their use of EUID and for ensuring that there is a lawful basis for use of your personal data for EUID.</li>
      <li>The Trade Desk is responsible for the security of the submission of your email address or phone number to The Trade Desk, and the creation and return of the EUID to the EUID participant. The EUID participant is responsible for the security of your email address or phone number before providing it to The Trade Desk.</li>
      <li>The Trade Desk is responsible for managing the opt out at the Transparency and Control Portal, as described above, which allows you to withdraw consent or object to the use of your email address or phone number to create an EUID.</li>
    </ul>
    <p>Other than as described above, The Trade Desk and EUID participants are separately responsible for complying with the data protection laws in the EEA, Switzerland and UK. In particular, the EUID participant that provided your email address or phone number is the primary contact for assisting you in exercising your data subject rights, but you can also contact The Trade Desk as set out below, particularly if you want to opt out of all use of your data for the creation of EUIDs.</p>
    
    <h2>The data we collect and the purposes for which The Trade Desk and EUID participants process data</h2>
    <p>The Trade Desk receives the email address or phone number you provided to an EUID participant, and from this creates an EUID by transforming it into a string of digits and numbers. Information on the form in which email addresses and phone numbers are retained by the Trade Desk is set out under the data retention section below.</p>
    <p>EUID participants may then use the EUID for targeted advertising purposes, as further explained in their respective privacy notices.</p>
    
    <h2>Legal basis for processing</h2>
    <p>The Trade Desk and EUID participants may only process your email address or phone number and EUID when we have a “legal basis” to do this. When we process personal data provided by a website or app publisher (for example, a news outlet that you visit), then the legal basis we rely on to process your personal data to create and operate the EUID will be consent.</p>
    <p>When we process personal data provided by an advertiser (a company from whom you have bought goods or services and who is allowed to send direct marketing to you), then the legal basis we rely on to process your personal data may either be consent or that the processing is necessary for the legitimate interests of The Trade Desk and the advertiser.</p>
    <p>When we process personal data provided by a data partner, then the legal basis we rely on to process your personal data may either be that the processing is necessary for the legitimate interests of The Trade Desk and the data partner (but only when the EUID will be used for measurement and attribution purposes) or consent (if the EUID will be used for any other purpose(s)).</p>
    <p>Where we rely on legitimate interests, these interests include, for example, enabling EUID end-users to use a privacy enhancing tool that respects their privacy and choice, and helping advertisers to attribute and measure the effectiveness of their advertising using EUID.</p>
    <p>Which legal basis applies is selected by the advertiser or data partner as our joint controller.</p>
    <p>More information on this legal basis can be found in the advertiser’s or data partner’s privacy notice.</p>
    <p>We also retain a hashed copy of the email address or phone number used to create the EUID, along with the EUID itself, in order to assist us in the event that you seek to opt out, or withdraw consent. We may, if we receive a lawful request, disclose personal information in response to lawful requests from public authorities. Our legal basis for this is compliance with a legal obligation under applicable consumer law, advertising law and data protection law that governs such requests or requires cooperation with public authorities.</p>

    <h2>Sharing and transfer</h2>
    <p>We will share your information with third parties only in the ways that are described in this notice.</p>
    <ul class="spaced">
      <li>We generate and share EUIDs with the EUID participant who has supplied us with your email address or phone number for conversion. They will then use this EUID for the advertising purposes described in their respective privacy notices.</li>
      <li>Where an advertiser asks us to create an EUID, at the advertiser’s request, we will share the EUID with service providers who store or process the data for the advertiser.</li>
    </ul>
    <p>We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</p>

    <h2>International transfers</h2>
    <p>When we transform the email address or phone number into an EUID, we do this in the UK, EEA or Switzerland. If an EUID participant from outside the UK EEA, and Switzerland provides us with an email address or phone number, so that we can create an EUID, then we will share the EUID with that EUID participant; this will include partners in the US (but it could also be a partner located in any country in the world).</p>
    <p>We transfer personal data outside the UK, EEA and Switzerland under valid transfer mechanisms:</p>
    <ul class="spaced">
      <li>The Trade Desk has certified its participation in the EU-U.S. and Swiss-U.S. Data Privacy Frameworks (DPF) and the UK Extension to the EU-U.S. DPF as set forth by the U.S. Department of Commerce, and is committed to adhering to DPF principles with regard to the processing of personal data received from the EU and UK in reliance of DPF. We currently do not rely on the Swiss-U.S. DPF to transfer personal information to the U.S. until Switzerland’s recognition of adequacy, however, The Trade Desk is committed to adhering to Swiss-U.S. DPF Principles with regard to the processing of personal data received in reliance on the Swiss-U.S. DPF. The Trade Desk is responsible for ensuring that onward transfers to third parties are in accordance with the EU-U.S. DPF, the UK Extension to the EU-U.S. DPF and the Swiss-U.S. DPF. To learn more about the DPF program, and to view our certification, please visit https://www.dataprivacyframework.gov/.</li>
      <li>If deemed necessary under applicable data protection legislation, the standard contractual clauses for data transfers, as approved by the European Commission Implementing Decision (EU) 2021/914 of 4 June 2021 for the transfer of Personal Data to third countries.</li>
    </ul>
    <p>If there is any conflict between the terms in this notice and such mechanisms, the terms of the transfer mechanism shall govern.</p>
    <p>In compliance with the EU-U.S. DPF and the UK Extension to the EU-U.S. DPF and the Swiss-U.S. DPF, The Trade Desk commits to address unresolved complaints concerning our handling of personal data received in reliance on the EU-U.S. DPF and the UK Extension to the EU-U.S. DPF and the Swiss-U.S. DPF submitted to TRUSTe, an alternative dispute resolution provider based in the United States. If you do not receive timely acknowledgment of your DPF Principles-related complaint from us, or if we have not addressed your DPF Principles-related complaint to your satisfaction, please visit <a href="https://feedback-form.trustarc.com/watchdog/request">here</a> for more information or to file a complaint. The services of TRUSTe are provided at no cost to you.</p>
    
    <h2>Data retention</h2>
    <p>We may store your hashed email address or phone number for up to 18 months from the date on which the EUID was created in order to operate the EUID for certain advertisers and/or data partners. If you withdraw your consent, or object to our processing of your data for EUID, we keep a record of your opt-out, a hashed copy of the email address or phone number used to create the EUID, and the EUID itself. This is necessary for us to implement your request and ensure ongoing compliance with your data protection rights.</p>
    
    <h2>Contact us</h2>
    <p>You may contact us regarding privacy matters as follows:</p>
    <p>Email:<b>  privacy  </b>((at))<b>  thetradedesk  </b>((dot))<b>  com</b> or submit an inquiry <a href="https://privacyportal-eu.onetrust.com/webform/2abc1a63-35c5-4ef7-b11b-1c55714738b5/4c5ba598-b05c-4b1c-b3da-abab6ac1c9db">here</a></p>
    <p><strong>Global Data Protection Officer (DPO)</strong> Email: <b>dpo</b> ((at)) <b>thetradedesk</b> ((dot)) <b>com</b></p>
    <p>If you have a concern regarding our privacy practices, please contact us via the contacts above. If after reasonable efforts, you believe your concern has not been satisfactorily addressed by us:</p>
    <ul>
      <li>In the EU, we recommend you contact the Data Protection Authority in the Member State where you normally reside, or where you work or where you believe a breach has occurred.</li>
      <li>In Switzerland, we recommend you contact the Federal Data Protection and Information Commissioner (FDPIC).</li>
      <li>In the UK, we recommend you contact the Information Commissioner’s Office (ICO) of the United Kingdom.</li>
    </ul>

    <h2>Changes to this notice</h2>
    <p>We may revise this notice at any time. However, if we make material changes, we will not apply them retroactively.</p>

    <h2>Last updated</h2>
    <p>27 September 2024</p>
    
    <br /> <br />

    <h2>At a glance</h2>
    <p>Read the table for a quick overview.</p>
    <div class="blue-box overview-grid">
      <div class="row">
        <p>Who we are:</p>
        <p><b>EEA, Switzerland and UK</b>: The UK Trade Desk Ltd. 10th Floor, 1 Bartholomew Close London EC1A 7BL United Kingdom.
        <br /> <br />
        Email:  <b>privacy </b> ((at)) <b> thetradedesk </b> ((dot))  <b>com</b> or submit an inquiry <a href="https://privacyportal-eu.onetrust.com/webform/2abc1a63-35c5-4ef7-b11b-1c55714738b5/4c5ba598-b05c-4b1c-b3da-abab6ac1c9db">here</a>.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>What we do:</p>
        <p>Generate and operate an EUID that can then be used for targeted advertising online.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>The data collected to produce EUIDs includes:</p>
        <p>Your email address or phone number.
          <br /> <br />
          This is transformed to create a unique, pseudonymous advertising identifier, called an EUID.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>How we collect data:</p>
        <p>We collect data from EUID participants (advertisers, publishers, and data partners) who submit an email address or phone number to us for the purpose of generating an EUID.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>The purposes for which the EUID is processed:</p>
        <p>We generate and operate EUIDs to enable EUID participants to then provide targeted advertising to you (as explained in their respective privacy notices).</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>Sharing and transfer:</p>
        <p>We generate and share EUIDs with EUID participants who have supplied email addresses or phone numbers for conversion into an EUID. These EUID participants may then use the EUIDs for their own advertising purposes (as explained in their respective privacy notices).
        <br /> <br />
        We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>International transfers:</p>
        <p>We may transfer data from the country of origin to the US or other countries globally. We do so under a valid legal framework.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>Data Retention:</p>
        <p>We maintain generally accepted security methods to protect data collected for the generation of EUIDs.
          <br /> <br />
          We may store and retain a hashed copy of your email address or phone number for up to 18 months to operate the EUID. Where you have withdrawn your consent or opted-out to our data processing, we store and retain a record of your opt-out, a hashed copy of your email address or phone number, and the EUID itself, so we can comply with applicable data protection law.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>Your rights and choices:</p>
        <p>You have rights and choices with respect to the use of your personal data.</p>
      </div>
    </div>
  </div>
  <div class='main__footer'>
    <h3 class='main__logo-label'>Powered by</h3>
    <img class='main__logo' src='/images/EUID.png' />
  </div>
</div>
{{/full_layout}}