{{#> full_layout css_file="privacy.css" }}
  <div class="content">
    <img class="title" src="/images/EUID.png" />
    <div class="title">EUID Privacy Notice</div>
    <div class="separator"></div>
    <div class="heading-1">EUID Overview</div>
    <div class="heading-2">What is EUID?</div>
    <div class="paragraph">EUID is a tool used in digital advertising to show you advertisements in a way that respects your privacy and does not rely on third party cookies.  The UK Trade Desk Ltd (‘The Trade Desk’) is a controller for EUID, together with the advertisers and publishers who use it (we call these organisations ‘EUID participants’).  This notice describes how The Trade Desk operates EUID and the rights and choices you have if you provide your email address or phone number.  Click here if you want to skip ahead to the privacy notice.</div>
    <div class="heading-2">Why do EUID participants use EUID?</div>
    <div class="paragraph">EUID participants improve their digital marketing campaigns by offering you a better experience of digital advertising. With your permission, EUID enables participants to gather and combine data across different sites, apps, and other contexts, and to share data with each other in relation to the buying and selling of advertising online. This in turn improves the advertising you see online, because it helps advertisers to show ads that are more relevant to you, can limit the number of times you see the same ad, and Publishers are paid more for the same ad. This helps to fund their online content, and you may be able to access more online content at a lower cost or for free.</div>
    <div class="heading-2">How does it work?</div>
    <div class="paragraph">If you provide your email address or phone number to an EUID participant, such as a website where you log in, or with an advertiser where you have an account, then they can then send your email address or phone number to The Trade Desk to be turned into an advertising identifier (called an EUID).</div>
    <div class="blue-box narrow">
      <div class="heading-2">Example:</div>
      <div class="paragraph">You buy a pair of shoes from <i>ShoesRUs.com</i>, and <i>ShoesRUs</i> want to show you an ad for another pair of shoes it thinks you’ll like.</div>
      <div class="paragraph">You later read the news on <i>ilovenews.com</i>. If both <i>ShoesRUs.com</i> and <i>ilovenews.com</i> have your EUID, <i>ShoesRUs</i> can make sure that its shoe ad is shown to you.</div>
    </div>
    <div class="paragraph">An EUID is made by putting your email address or phone number through complex algorithms to turn it into a string of text and numbers so that is no longer recognisable as that email address or phone number.  It is not possible for anyone with the EUID to reverse this process to determine your email address or phone number.</div>
    <div class="blue-box narrow">
      <div class="heading-2">Example:</div>
      <div class="paragraph">An email address: <i>janesmith@myemail.com</i> turned into an EUID will be : ODJYV34CH3645SKGBNDK.</div>
    </div>
    <div class="paragraph">The Trade Desk uses your email address or phone number only to create the EUID and comply with data protection law. You can opt out from having your email or phone number used as an advertising identifer in EUID as a user at any time.</div>
    <div class="paragraph large">Click here to read more details about your rights and here for details on how to opt-out.</div>
    <div class="heading-1">EUID Privacy Policy</div>
    <div class="paragraph">This privacy notice describes how The Trade Desk manages EUID and your rights with respect to EUID.  The Trade Desk is a joint controller with each EUID participant, as described more fully below, but this notice does not fully describe how advertisers and publishers may use an EUID after it is created. Their use of EUID is described in their own privacy notices.</div>
    <div class="paragraph">The Trade Desk also processes EUIDs as a service for advertisers. This use is separate from The Trade Desk’s creation of EUID in this privacy notice. The Trade Desk Services Privacy Policy has more information about this processing.</div>
    <div class="paragraph">This privacy notice applies only if you are based in the European Economic Area (EEA) or United Kingdom (UK), or your data is otherwise protected by EEA or UK laws.</div>
    <div class="heading-1">Your Rights</div>
    <div class="paragraph">You have the right to access your data, to ask us to provide it to you (or a third party) in machine readable format, and to correct, delete and restrict your data. These rights may be limited, for example if you ask us to delete information which we are required by law to keep or have compelling legitimate interests in keeping. You can also object to our processing of your data.</div>
    <div class="paragraph">If you want to exercise these rights in relation to EUID, you can contact either the EUID participants, using the details set out in their privacy notices, or you can contact The Trade Desk using the contact details provided in this notice. We may take reasonable steps to confirm your identity </div>
    <div class="heading-1">How to withdraw consent or opt-out</div>
    <div class="paragraph">If your email address or phone number has been used to create an EUID, you can withdraw consent or opt out and stop processing of the EUID at any time. You can do this via the EUID Transparency and Control Portal available here.</div>
    <div class="paragraph">If you follow the steps set out at the Transparency and Control Portal, The Trade Desk will stop creating IDs relating to the email address or phone number you provided. We will also instruct EUID participants, to whom The Trade Desk has issued EUIDs, to stop using the EUID for targeted digital advertising campaigns.</div>
    <div class="paragraph">Where an EUID participant has asked us to create an EUID from your email address or phone number, you can also contact that party directly to find out how to opt out with that EUID participant and stop their processing of your email address or phone number.  If you want to stop all EUID participants creating and using IDs for your email address or phone number, you should use the Transparency and Control Portal.</div>
    <div class="paragraph">If you withdraw consent, this will not affect the lawfulness of any processing based on consent before its withdrawal.</div>
    <div class="heading-1">Joint Controllers</div>
    <div class="paragraph">The Trade Desk and each EUID participant, to whom you provided your email address or phone number to generate the EUID, are joint controllers for the processing involved in submitting your email address or phone number to The Trade Desk, creating an EUID and returning the EUID to the EUID participant.</div>
    <ul class="spaced">
      <li>The EUID participant who submitted your email address or phone number to create an EUID is responsible for providing you with information about their use of EUID and for confirming the lawful basis for use of your personal data.</li>
      <li>The Trade Desk is responsible for the security of the submission of your email address or phone number to The Trade Desk, and the creation and return of the EUID to the EUID participant.</li>
      <li>The Trade Desk is responsible for managing the opt out at the Transparency and Control Portal, as described above, which allows you to withdraw consent or object to the use of your email address or phone number to create an EUID.</li>
    </ul>
    <div class="paragraph">Other than as described above, The Trade Desk and EUID participants are separately responsible for complying with the data protection laws in the EU and UK. In particular, the EUID participant that provided your email address or phone number is the primary contact for assisting you in exercising your data subject rights, but you can also contact The Trade Desk as set out below, particularly if you want to opt out of all use of your data for the creation of EUIDs.</div>
    <div class="heading-1">The data we collect and the purposes for which The Trade Desk and participants process data</div>
    <div class="paragraph">The Trade Desk receives the email address or phone number you provided to an EUID participant, and from this creates an EUID by transforming it into a string of digits and numbers. Information on the form in which email addresses and phone numbers are retained by the Trade Desk is set out under our retention section below. The Trade Desk also holds information about the EUID participants that create each EUID in order to comply with data protection law and manage its relationship with those EUID participants.</div>
    <div class="paragraph">EUID participants then use the EUID for targeted advertising purposes, such as to:</div>
    <ul>
    <li>Deliver targeted advertising to you online</li>
    <li>Limit the number of times you see the same ad</li>
    <li>Measure the effectiveness of ads</li>
    <li>Create reports on ad campaigns</li>
    <li>Maintain ad transaction records</li>
    <li>Attribute purchases or other actions to ads</li>
    <li>Associate devices that might be related to each other, and</li>
    <li>Prevent malicious activity.</li>
    </ul>
    <div class="paragraph">Each EUID participant decides separately if it wants to use the EUID for some or all of these purposes. More information on each EUID participant’s specific use of your personal data is set out in their respective privacy notices.</div>
    <div class="heading-1">Legal basis for processing</div>
    <div class="paragraph">The Trade Desk and EUID participants may only process your email address or phone number when we have a “legal basis” to do this. When we process personal data provided by a website or app publisher (for example, a news outlet that you visit), then the legal basis we rely on to process your personal data will be consent.</div>
    <div class="paragraph">When we process personal data provided by an advertiser (a company from whom you have bought goods or services and who is allowed to send direct marketing to you) then the legal basis we rely on to process your personal data may either be consent or that the processing is necessary for the legitimate interests of The Trade Desk and the advertiser. Where we rely on legitimate interests, these interests are to provide you with more relevant advertising. Which legal basis applies is selected by the advertiser as our joint controller.</div>
    <div class="paragraph">More information on this legal basis can be found in the advertiser’s privacy policy.</div>
    <div class="paragraph">We also retain a hashed copy of each email address or phone number used to create an EUID, in order to assist us in the event that you seek to opt out, or withdraw consent.  We may, if we receive a lawful request, disclose personal information in response to lawful requests from public authorities. Our legal basis for this is compliance with law.</div>
    <div class="heading-1">Sharing and transfer</div>
    <div class="paragraph">We will share your information with third parties only in the ways that are described in this policy.</div>
    <ul class="spaced">
      <li>We generate and share EUIDs with the EUID participant who has supplied us with your email address or phone number for conversion. They will then use this EUID for the advertising purposes listed above.</li>
      <li>Where an advertiser asks us to create an EUID, at the advertiser’s request, we will share the EUID with service providers who store or process the data for the advertiser.</li>
    </ul>
    <div class="paragraph">We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</div>
    <div class="heading-1">International transfers</div>
    <div class="paragraph">When we transform the email address or phone number into an EUID, we do this in Europe.  If an EUID participant from outside the EEA and the UK provides us with an email address or phone number, so that we can create an EUID, then we will share the EUID with that EUID participant; this will include (but is not limited to) partners in the US. The Trade Desk itself will also process the EUID in the US.</div>
    <div class="paragraph">Whenever we transfer personal data outside the EEA and the UK, we ensure that there is a valid transfer mechanism, primarily by using data transfer agreements which are valid in the EEA and the UK.</div>
    <div class="heading-1">Data retention</div>
    <div class="paragraph">We store each EUID for up to 30 days from the date on which the EUID was created. If you withdraw your consent, or object to our processing your data, we keep a record of your objection for 5 years in order to implement your request.</div>
    <div class="paragraph">We keep a hashed copy of the email addresses and phone numbers used to create an EUID. This is necessary for us to ensure compliance with your data protection rights.</div>
    <div class="heading-1">Contact us</div>
    <div class="paragraph">You may contact us regarding privacy matters as follows:</div>
    <div class="paragraph">Email:<b> privacy </b>((at))<b> thetradedesk </b>((dot))<b> com</b></div>
    <div class="paragraph"><strong>Global Data Protection Officer (DPO)</strong> The Trade Desk, Global Privacy Office 42 N. Chestnut St., Ventura, CA 93001 Email: <b>dpo</b> ((at)) <b>thetradedesk</b> ((dot)) <b>com</b></div>
    <div class="paragraph">If you have a concern regarding our privacy practices, please contact us via the contacts above. If after reasonable efforts, you believe your concern has not been satisfactorily addressed by us:</div>
    <ul>
      <li>In the EU, we recommend you contact the Data Protection Authority in the Member State where you normally reside, or where you work or where you believe a breach has occurred.</li>
      <li>In the UK, we recommend you contact the Information Commissioner’s Office (ICO) of the United Kingdom.</li>
    </ul>
    <div class="heading-1">Changes to this policy</div>
    <div class="paragraph">We may revise this policy at any time. However, if we make material changes, we will not apply them retroactively.</div>
    <div class="heading-1">At a glance</div>
    <div class="paragraph">Read the table for a quick overview.</div>
    <div class="blue-box overview-grid">
      <div class="row">
        <div class="paragraph">Who we are:</div>
        <div class="paragraph">EEA and UK: The UK Trade Desk Ltd. 10th Floor, 1 Bartholomew Close London EC1A 7BL United Kingdom</div>
        <div class="paragraph">Email: privacy ((at)) thetradedesk ((dot)) com</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">What we do:</div>
        <div class="paragraph">Generate and facilitate use of EUIDs for targeted advertising online.</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">The data collected to produce EUIDs includes:</div>
        <div class="paragraph">Your email address or phone number.</div>
        <div class="paragraph">This is transformed to create a unique, pseudonymous advertising identifier, called an EUID.</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">How we collect data:</div>
        <div class="paragraph">We collect data from our partners (advertisers, publishers) who submit email address for the purposes of generating a EUID.</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">The purposes for which the EUID is processed:</div>
        <div class="paragraph">We generate EUIDs to allow partners to deliver targeted advertising to you</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">Sharing and transfer:</div>
        <div class="paragraph">We generate and share EUIDs with partners who have supplied email addresses for conversion into an EUID. These partners will use this data for the purposes named above.</div>
        <div class="paragraph">We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">International transfers:</div>
        <div class="paragraph">We may transfer data from the country of origin to the US or other countries. We do so under a valid legal framework.</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">Data Retention:</div>
        <div class="paragraph">We maintain generally accepted security methods to protect data collected for the generation of EUIDs.</div>
        <div class="paragraph">We retain the EUID itself for 30 days each date the EUID is created.</div>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <div class="paragraph">Your rights and choices:</div>
        <div class="paragraph">You have rights and choices with respect to the use of your personal data.</div>
        <div class="paragraph">We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</div>
      </div>
    </div>
  </div>
{{/full_layout}}