:root {
  --modal-width: 400px;
  --uid2-black: #0f1128;
  --uid2-green: #4cce75;
  --uid2-blue: #6495ed;
  --uid2-white: #ffffff;
  --background-grey: #eeeeee;
  --border-grey: #d7dde8;
}

body {
  font-family: "Raleway", arial, clean, sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  color: var(--uid2-black);
}

h2 {
  font-weight: bold;
  font-size: 16px;
  color: var(--uid2-black);
  margin: 0;
}

p {
  margin: 0;
  color: var(--uid2-black);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.01em;
}

a {
  color: var(--uid2-green);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a.button {
  font: 600 16px/16px "Raleway", arial, clean, sans-serif;
  color: var(--uid2-white);
  padding: 8px 20px;
  background-color: var(--uid2-black);
  border: unset;
  border-radius: 1px;
  text-decoration: none;
  white-space: nowrap;
}

a.button:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.ad-info {
  display: flex;
  padding: 0px 10%;
}

.ad-info__left {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding-right: 32px;
}

.ad-info__right {
  flex: 1;
}

.ad-info-header {
  padding: 32px 0 8px 10%;
}

.page-header {
  display: flex;
  height: 20px;
  padding: 25px 10%;
  justify-content: flex-start;
  align-items: center;
}

.page-header__background {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 70px;
  width: 100vw;
}

.page-header__text {
  color: white;
}

.page-header__break {
  border: 1px solid var(--uid2-white);
  margin: 0 16px;
  height: 24px;
  opacity: 0.25;
}

.page-header__uid2-logo {
  height: 20px;
  margin-bottom: 2px;
}

.classification {
  padding: 8px 0;
  display: inline-flex;
}

.classification__icon {
  width: 30px;
  height: 30px;
  align-self: center;
}

.classification__description {
  padding-left: 10px;
  align-self: center;
}

.classification__advertiser {
  font-weight: bold;
}

.companies {
  padding-bottom: 32px;
  display: flex;
}

.companies__tooltip {
  color: var(--uid2-green);
  padding-left: 4px;
  position: relative;
}

.companies__list {
  visibility: hidden;
  position: absolute;
  bottom: 100%;
  z-index: 1;
  background-color: var(--uid2-black);
  border-radius: 2px;
  color: var(--uid2-white);
  padding: 16px;
  font-weight: normal;
  font-size: 14px;
  white-space: nowrap;
}

.companies__list::before {
  content: '';
  position: absolute;
  bottom: -7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--uid2-black);

}

.companies__tooltip:hover .companies__list {
  visibility: visible;
}

.segments {
  padding: 32px 0;
}

.segments__list {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 4px 0;
}

.segments__pill {
  background-color: var(--background-grey);
  font-size: 14px;
  border-radius: 3px;
  padding: 8px;
  margin: 4px;
}

.settings {
  padding: 40px;
  border: 1px solid var(--border-grey)
}

.settings__header {
  padding-bottom: 16px;
}

.settings__description {
  padding-bottom: 16px;
}

.settings__buttons {
  margin: 8px 0px;
}

@media screen and (max-width: 768px) {
  .ad-info {
    padding: 0 24px;
  }

  .ad-info-header {
    padding: 32px 0 8px 24px;
  }

  .page-header {
    padding: 25px 24px;
  }
}

@media screen and (max-width: 576px) {
  .ad-info {
    flex-direction: column;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    line-height: 16px;
  }

  a {
    font-size: 12px;
  }

  a.button {
    font-size: 14px;
  }

  .segments__pill {
    font-size: 10px;
  }

  .companies__list {
    font-size: 10px;
  }
}
