/* screen - desktop-4 */

.border-class-1 {

}
.desktop-4 {
  align-items: center;
  background-color: var(--white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 1024px;
  justify-content: flex-start;
  overflow: hidden;
  padding: 100px 339px;
  position: relative;
  width: 1440px;
}
.desktop-4 .desktop-un-ary-button-C61RwL {
  align-items: flex-start;
  align-self: flex-end;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: auto;
  justify-content: flex-start;
  min-height: 40px;
  padding: 8px 0;
  position: relative;
  width: 60px;
}
.desktop-4 .desktop-un-ary-button-VMr6Om {
  background-color: transparent;
  flex-shrink: 0;
  height: 40px;
  margin-right: 257.0px;
  margin-top: 29px;
  position: relative;
  width: 143px;
}
.desktop-4 .link-i16087427146-pdOPXM {
  background-color: transparent;
  color: var(--stratos);
  flex-shrink: 0;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.28px;
  line-height: 16px;
  min-height: 16px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 54px;
}

.link-i16087846888-zpg6x3 a {
  color: inherit;
}

.desktop-4 .link-i16087846888-zpg6x3 {
  background-color: transparent;
  height: 40px;
  left: 0px;
  letter-spacing: 0.28px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 142px;
}
.desktop-4 .namedomaincom-160877-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 40px;
  letter-spacing: 0.24px;
  line-height: 30px;
  margin-right: 117.0px;
  margin-top: 0px;
  min-height: 40px;
  position: relative;
  text-align: left;
  width: auto;
}
.desktop-4 .opt-out-160881-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 20px;
  letter-spacing: 0.14px;
  line-height: 0.1px;
  margin-right: 51.0px;
  margin-top: 49px;
  min-height: 20px;
  position: relative;
  text-align: left;
  width: 349px;
}
.desktop-4 .our-truste-net-160875-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.12px;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 17px;
  min-height: 64px;
  position: relative;
  text-align: left;
  width: 402px;
}
.desktop-4 .powered-by-160859-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.24px;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 10vh;
  min-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 402px;
}
.desktop-4 .rectangle-121-C61RwL {
  background-color: var(--sushi);
  flex-shrink: 0;
  height: 3px;
  margin-left: 3.0px;
  margin-top: 10px;
  position: relative;
  width: 411px;
}
.desktop-4 .rectangle-1444-pdOPXM {
  background-color: var(--stratos);
  flex-shrink: 0;
  height: 3px;
  margin-top: 0px;
  position: relative;
  width: 30px;
}
.desktop-4 .rectangle-98-zpg6x3 {
  background-color: var(--stratos);
  border-radius: 2px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 140px;
}
.desktop-4 .span1-0xJPn1 {
  color: rgba(2,10,64,1.0);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.desktop-4 .span2-0xJPn1 {
  color: rgba(78,132,0,1.0);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 700;
}
.desktop-4 .span3-0xJPn1 {
  color: rgba(2,10,64,1.0);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-style: normal;
  font-weight: 500;
}
.desktop-4 .unified-id-r-with20-1-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 30px;
  margin-top: 9px;
  position: relative;
  width: auto;
}
.desktop-4 .welcome-160876-C61RwL {
  background-color: transparent;
  flex-shrink: 0;
  height: 20px;
  letter-spacing: 0.14px;
  line-height: 0.1px;
  margin-right: 311.0px;
  margin-top: 60px;
  min-height: 20px;
  position: relative;
  text-align: left;
  width: 89px;
}
.desktop-4 .your-choic-ent-160880-C61RwL {
  background-color: transparent;
  color: transparent;
  flex-shrink: 0;
  font-family: "Raleway", Helvetica, Arial, serif;
  font-size: 12px;
  height: auto;
  letter-spacing: 0.12px;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 10px;
  min-height: 144px;
  position: relative;
  text-align: left;
  width: 402px;
}
.raleway-bold-stratos-12px {
  color: var(--stratos);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-stratos-14px {
  color: var(--stratos);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-stratos-24px {
  color: var(--stratos);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.raleway-bold-white-14px {
  color: var(--white);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.raleway-medium-stratos-12px {
  color: var(--stratos);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}
:root {
  --stratos: rgba(2,10,64,1.0);
  --sushi: rgba(117,186,67,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.08);
}

.are-you-sure-160905-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 571px;
  letter-spacing: 0.24px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 431px;
  width: 283px;
}

.desktop-un-ary-button-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 1041px;
  min-height: 40px;
  padding: 8px 0;
  position: absolute;
  top: 100px;
  width: 60px;
}

.desktop-un-ary-button-mzXdH9 {
  background-color: transparent;
  height: 40px;
  left: 572px;
  position: absolute;
  top: 546px;
  width: 143px;
}


.link-i16090646888-xq3GWO {
  background-color: transparent;
  height: 40px;
  left: 0px;
  letter-spacing: 0.28px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 142px;
}
.link-i16090746888-t7FpkF {
  background-color: transparent;
  height: 40px;
  left: 0px;
  letter-spacing: 0.28px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 142px;
}

.rectangle-98-t7FpkF {
  background-color: var(--stratos);
  border-radius: 2px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 140px;
}

.rectangle-98-xq3GWO {
  background-color: var(--stratos);
  border-radius: 2px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 140px;
}
.desktop-un-ary-button-QxM5SU {
  background-color: transparent;
  height: 40px;
  left: 732px;
  position: absolute;
  top: 546px;
  width: 143px;
}

.this-choic-ent-160908-C61RwL {
  background-color: transparent;
  height: auto;
  left: 571px;
  letter-spacing: 0.12px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 481px;
  width: 302px;
}
.desktopui-container-C61RwL {
  background-color: var(--white);
  border: 1px solid rgba(239,241,244,1.0);
  height: 200px;
  left: 520px;
  position: absolute;
  top: 412px;
  width: 400px;
}

.rectangle-1445-C61RwL {
  background-color: var(--white);
  height: 1024px;
  left: 0px;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.modalaaa {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}