.opt-out-modal {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.opt-out-modal__background {
  background: var(--white);
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 100%;
}

.opt-out-modal__content {
  background: var(--white);
  box-sizing: border-box;
  max-width: calc(100vw - 48px);
  width: 400px;
  height: fit-content;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightgray);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  z-index: 1;
}

.opt-out-modal__buttons {
  display: flex;
  justify-content: space-between;
}

.opt-out-modal__buttons button {
  width: 45%;
}
