@keyframes spinner {
  to {transform: rotate(360deg);}
}
svg {
  display: none;
  animation: spinner .6s linear infinite;
  text-align: center;
}
.submitting svg {
  display: inline;
}
.submitting span {
  display: none;
}