.form__radio-group {
  display: flex;
}

.form__radio-button {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.form__radio-label {
  color: var(--stratos);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-left: 8px;
}

.form__inputs {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
}

.form__input-container {
  display: inline-flex;
  width: 100%;
  padding: 16px 0;
}

.form__input {
  width: 100%;
  padding: 0.85em 1.25em;
  border-radius: 2px;
}

.form__input-country-code {
  flex: 1;
  font-size: 12px;
}

.form__input-phone {
  display: flex;
  flex: 2.5;
}

.form__input-phone .form__input {
  border-radius: 0 2px 2px 0;
  border-left: none;
}

.error {
  color: red;
  margin-top: 0;
  min-height: 0;
}

.message {
  color: green;
  margin-top: 5px;
  min-height: 0;
}

/* Targeting imported component here */
/* select with CSS avatar icons */
option.avatar {
  background-repeat: no-repeat !important;
  padding-left: 20px;
}

.avatar .ui-icon {
  background-position: left top;
}

.ui-selectmenu-icon.ui-icon {
  position: absolute;
  float: unset;
  right: 0.25em;
}

.ui-selectmenu-menu .ui-menu {
  max-height: 40vh;
}

.ui-selectmenu-button.ui-button {
  display: flex;
  background: none;
  border: 1px solid var(--stratos);
  border-radius: 2px 0 0 2px;
  padding: 0.85em 1.25em;
  width: unset;
  height: calc(1em + 2px);
  margin-right: 0;
}

.ui-selectmenu-menu .ui-menu.avatar .ui-menu-item-wrapper {
  padding: 2px 10px 0 30px;
  color: var(--stratos);
  font-family: Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.ui-selectmenu-menu .ui-menu.avatar .ui-menu-item .ui-icon {
  height: 24px;
  width: 24px;
  top: 0.1em;
}

.ui-selectmenu-text {
  padding-left: 4px;
  margin-right: 0px;
  color: var(--stratos);
  font-family: Helvetica;
  font-style: normal;
  font-weight: 500;
}

.avatar-selected {
  width: 24px;
  background: no-repeat;
}

.avatar-selected--empty {
  width: 0;
}

@media screen and (max-width: 359.98px) {
  .form__radio-group {
    flex-direction: column;
  }

  .form__radio-button:first-child {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 767.98px) {
  .form__input-phone {
    flex: 1.5;
  }

  .form__radio-label {
    font-size: 16px;
    padding-top: 2px;
  }

  .form__input-country-code {
    font-size: 16px;
  }

  .ui-selectmenu-menu .ui-menu.avatar .ui-menu-item-wrapper { 
    font-size: 16px;
  }
}