img.title {
    height: 40px;
    margin: 0 0 60px;
}

.large {
    font-size: 16px;
}

.privacy-header-title {
    font-size: 32px;
}

.privacy-main-content {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 24px;
    line-height: 120%;
}
ul.spaced li {
    margin-bottom: 18px;
}

.example-box {
    padding: 30px 30px 12px 30px;
    margin: 0 0 24px 0;
}

.blue-border {
    border: 3px solid #008EF8;
}

.green-border {
    border: 3px solid #75BA43;
}

.narrow {
    max-width: 405px;
    padding-right: 30px;
}

.row {
    display: grid;
    grid-template-columns: [left] 220px [right] 1fr;
    grid-template-rows: 1fr;
}

.row p {
    grid-column-start: right;
}

.row p:first-child {
    grid-column-start: left;
    grid-row: 1 / span 9;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    padding: 0 24px 0 0;
}

.row-separator {
    align-self: center;
    background-color: #E7EBF2;
    height: 1px;
    margin: 24px 0;
    width: 100%;
}

@media (max-width: 991.98px) {
    .row {
        display: block;
    }

    .main {
        justify-content: flex-start;
    }
}

.todo {
    background-color: red;
}
