:root {
  --stratos: #020a40;
  --lightgray: #eff1f4;
  --white: #ffffff;
  --white-2: #ffffff14;
}

body {
  font-family: Helvetica, Arial, serif;
  color: var(--stratos);
}

input {
  outline: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  background-color: var(--white-2);
  border: 1px solid var(--stratos);
  align-items: center;
  align-self: center;
}

input[type="radio"] {
  width: 16px;
  min-width: 16px;
  height: 16px;
  background-clip: content-box;
  appearance: none;
  display: block;
  border-radius: 50%;
  padding: 2px;
  margin: 0;
}

input[type="radio"]:checked {
  background-color: var(--stratos);
}

p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin: 0 0 1em;
}

h1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  margin: 0.25em 0;
  overflow-wrap: break-word;
}

h2 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 1em;
}

h3 {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 1em;
}

li {
  font-size: 12px;
}

button {
  color: var(--white);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  background-color: var(--stratos);
  border-radius: 2px;
  border: unset;
  width: 100%;
  padding: 0.85em;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 5vh 24px;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.main-content__divider {
  border-top: 3px solid var(--stratos);
  margin: 16px 0;
}

.main__footer {
  padding: 10vh 0 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__logo {
  align-self: center;
  background-color: transparent;
  flex-shrink: 0;
  height: 30px;
  margin-top: 9px;
  position: relative;
  max-width: 200px;
}

.main__logo-label {
  margin: 0;
}

/* Media queries */
@media screen and (max-width: 359.98px),
screen and (max-height: 767.98px) {
  .main {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 767.98px) {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }

  li {
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
  }

  .main-content {
    margin-top: unset;
    max-width: 100%;
  }
}
