{{#> full_layout css_file="privacy.css" }}
<div class="main">
  <div class="privacy-main-content">
    <a href="/"><img class="title" src="/images/unifiedid2-logo-rgb-fullcolor-with20-1@2x.png" /></a>
    <span class="privacy-header-title">UID2 Privacy Notice</span>
    <div class="main-content__divider"></div>
    <h1>UID2 Overview</h1>
    <br/>
    <h2 class="large">What is UID2?</h2>
    <p>TBD...</p>
    <h2 class="large">How does it work?</h3>
    <p>TBD...</p>
    <div class="example-box green-border narrow">
      <h3>Example:</h3>
      <p>TBD...</p>
    </div>
    <p>The Trade Desk uses your email address or phone number only to create the UID2 and comply with data protection law. You can opt out from having your email or phone number used as an advertising identifer in UID2 as a user at any time.</p>
    <p class="large"><a href="#your-rights">Click here</a> to read more details about your rights and <a href="#opt-out">here</a> for details on how to opt-out.</p>
    <div class="example-box green-border overview-grid">
      <div class="row">
        <p>Who we are:</p>
        <p><strong>EEA and UK:</strong> The UK Trade Desk Ltd. 10th Floor, 1 Bartholomew Close London EC1A 7BL United Kingdom</p>
        <p>Email:  <b>privacy </b> ((at)) <b> thetradedesk </b> ((dot))  <b>com</b></p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>What we do:</p>
        <p>Generate and facilitate use of UID2s for targeted advertising online.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>The data collected to produce UID2s includes:</p>
        <p>Your email address or phone number.</p>
        <p>This is transformed to create a unique, pseudonymous advertising identifier, called an UID2.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>How we collect data:</p>
        <p>We collect data from our partners (advertisers, publishers) who submit email address for the purposes of generating a UID2.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>The purposes for which the UID2 is processed:</p>
        <p>We generate UID2s to allow partners to deliver targeted advertising to you</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>Sharing and transfer:</p>
        <p>We generate and share UID2s with partners who have supplied email addresses for conversion into an UID2. These partners will use this data for the purposes named above.</p>
        <p>We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>International transfers:</p>
        <p>We may transfer data from the country of origin to the US or other countries. We do so under a valid legal framework.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>Data Retention:</p>
        <p>We maintain generally accepted security methods to protect data collected for the generation of UID2s.</p>
        <p>We retain the UID2 itself for 30 days each date the UID2 is created.</p>
      </div>
      <div class="row-separator"></div>
      <div class="row">
        <p>Your rights and choices:</p>
        <p>You have rights and choices with respect to the use of your personal data.</p>
        <p>We may also disclose personal information in response to lawful requests from public authorities, including to meet security or law enforcement requirements.</p>
      </div>
    </div>
  </div>
  <div class='main__footer'>
    <h3 class='main__logo-label'>Powered by</h3>
    <img class='main__logo' src='/images/unifiedid2-logo-rgb-fullcolor-with20-1@2x.png' />
  </div>
</div>
{{/full_layout}}