<html>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <link rel='shortcut icon' href='/images/favicon.png' />
  <meta name='og:type' content='website' />
  <meta name='twitter:card' content='photo' />
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
</head>

<body style='margin: 0; background: rgba(255, 255, 255, 1)'>
  <div class='main'>
    <div class='privacy-main-content'>
      
      <h1>UID2 ADMINISTRATOR プライバシーポリシー</h1>

      <i class="updated padded">発効日: April 1, 2025</i>
      
      <p class="bold">はじめに − UID2について</p>
      <br />
        
      <p>
        The Trade Deskは、広告エコシステムにおける広告主、パブリッシャー、およびその他の組織に、
        メールアドレスや電話番号をUID2と呼ばれる固有識別子に変換するための標準化された技術的手段を提供するために、
        UNIFIED ID 2.0(「UID2」)サービスを開発しました。UID2は、メールアドレスや電話番号を一連のアルゴリズムに通すことにより作成され、
        それを元のデータに復元できない文字と数字の文字列に変換します。実際の身元を直接明らかにしないクッキーID、IPアドレス、
        デバイス識別子などの他の種類の識別子と同様に、UID2識別子により、企業は異なるサイト、アプリ、およびその他の文脈にわたってデータを収集・結合し、
        オンライン広告の購入・販売を容易にするためにデータを相互に共有し、オンライン広告の結果を測定することが可能になります。
        これには、適用法で定義されるターゲティング広告も含まれます。これにより、広告主はより関連性の高い広告を表示し、同じ広告を見る回数を制限し、
        パブリッシャーが同じ広告でより多くの収益を得ることを可能にし、オンラインコンテンツの資金調達に貢献します。
      </p>
      <br />

      <p>
        UID2エコシステムを構成する当事者には、参加者(Participants)、オペレーター(Operator)、および管理者(Administrator)が含まれます。
      </p>
      <ul>
        <li>
          UID2サービスを利用する企業は「参加者」と呼ばれます。参加者の例としては、顧客に靴やセーターの広告で顧客にリーチしたい小売業者、広告掲載により収益を得るニュースサイト、
          データを使用して広告主やパブリッシャーがよりパーソナライズされた広告を表示できるよう支援する広告技術企業などがあります。The Trade Deskは、
          「デマンドサイドプラットフォーム」または「プラットフォーム」としての立場でUID2サービスの参加者として活動しており、
          広告主やその代理店が多くのチャネルにわたって広告キャンペーンを管理することを支援しています。当社のプラットフォームのプライバシー慣行(UID2サービスの参加者としての立場を含む)は、
          当社のプラットフォームプライバシーポリシーをご覧ください。
        </li>
        <li>
          参加者は「オペレーター」と協力し、参加者が提供するメールアドレスや電話番号を変換して、参加者のためにUID2識別子を作成します。
        </li>
        <li>
          最後に、「管理者」はUID2識別子の生成と維持に使用される技術へのアクセスを監督し、オプトアウトの選択を表明できるUID2透明性とコントロールポータルをホストします。
        </li>
      </ul>

      <p class="bold">The Trade Deskは現在UID2サービスの管理者として活動しており、
        このUID2プライバシーポリシーはUID2管理者としての役割におけるデータ(個人データまたは個人情報(「個人データ」)を含む)に関するThe Trade Deskの慣行についてのみ説明しています。
      </p>
      <p>
        このポリシーは、UID2サービスを使用する他の参加者の慣行は対象としていません。参加者のプライバシー慣行に関する詳細情報は、それぞれのプライバシーポリシーに記載されています。
      </p>
      
      <p class="bold">The Trade Deskは現在UID2サービスの管理者として活動しており、
        このUID2プライバシーポリシーはUID2管理者としての役割におけるデータ(個人データまたは個人情報(「個人データ」)を含む)に関するThe Trade Deskの慣行についてのみ説明しています。
      </p>
      <p>
        The Trade Deskは現在UID2サービスの管理者として活動しており、
        このUID2プライバシーポリシーはUID2管理者としての役割におけるデータ(個人データまたは個人情報(「個人データ」)を含む)に関するThe Trade Deskの慣行についてのみ説明しています。
      </p>

      <h2>
        UID2透明性とコントロールポータル
      </h2>
      <p>
        UID2管理者(現在はThe Trade Desk)の主要な役割は、UID2に関連するオプトアウト要求を受け付けるためのUID2 <a href="https://www.transparentadvertising.com/" target="_blank">
        透明性とコントロールポータル(Transparency and Control Portal)</a> を提供することです。透明性とコントロールポータルを使用して、
        管理者にオプトアウト要求を提出できます。その後、ターゲティング広告目的でのUID2の使用からオプトアウトするというあなたの選択を参加者が尊重するよう、参加者にその選択を提供します。
      </p>

      <h2>UID2管理者によるデータの収集</h2>
      <p>
        透明性とコントロールポータルのホスティングに関連して:
      </p>
      <ul>
        <li>
          当社は、UID2に基づくターゲティング広告からオプトアウトする選択を示すためにユーザーがポータルに入力した<b>メールアドレスや電話番号</b>を収集し、
          それらのメールアドレスや電話番号をハッシュ化して、対応するUID2に変換し、オプトアウト要求を処理します。
        </li>
        <li>
          当社は、ポータルへのアクセスに関する<b>技術情報</b>(IPアドレス、ブラウザ、プラットフォームタイプ、デバイスタイプを含む)を自動的に収集します。
        </li>
        <li>
          UID2管理者として、当社は参加者から、または参加者に代わって、同じ情報の一部を受け取ることもあります。
        </li>
      </ul>
      <p>
        この情報をどのように受け取るかにかかわらず、当社はこれを以下の「UID2管理者によるデータの使用」セクションに記載されている限定的な目的のために使用します。
      </p>

      <h2>
        UID2管理者によるデータの使用
      </h2>
      <p>
        UID2管理者として、当社は主に上記のデータを使用して、参加者があなたの選択を尊重するように、
        ターゲティング広告目的でのUID2の使用からオプトアウトするというあなたの選択を参加者に提供することを含め、オプトアウト要求を処理し記録を維持します。
      </p>
      <p>
        また、UID2管理者として受け取った情報を以下の目的で使用することがあります:
      </p>
      <ul>
        <li>
          透明性とコントロールポータルの提供と管理
        </li>
        <li>
          トラブルシューティングの実施
        </li>
        <li>
          不正行為の検出と防止の支援
        </li>
        <li>
          セキュリティ目的
        </li>
        <li>
          内部的に、UID2サービスの機能を改善するため
          <ul>
            <li>
              例えば、多くの参加者がAPIを使用して管理者にリクエストを送信する場合、当社はリクエストの処理をより効率的に行うために、リクエストの構成方法を確認することがあります。
            </li>
          </ul>
        </li>
      </ul>

      <h2>
        UID2管理者によるデータの開示
      </h2>
      <p>
        当社は、UID2管理者として受け取った情報を以下の状況で開示します:
      </p>
      <ul>
        <li>
          当社は、参加者があなたの選択を尊重するよう、UID2サービスの参加者にオプトアウトの選択に関する情報(場合によっては、UID2とオプトアウト信号を含む)を提供します。
        </li>
        <li>
          当社は、公的機関からの合法的な要請に応じて、セキュリティや法執行の要件を満たすために、また当社または他者の権利、財産、
          または安全を保護するために必要な場合(セキュリティおよび不正検出・防止のためを含む)、UID2管理者として収集した情報を開示することがあります。
        </li>
        <li>
          最後に、サービスを新しい管理者(業界団体など)に移行する際、またはThe Trade Deskに関連する企業再編、合併、
          資産売却、資金調達、または類似の取引に関連して、または交渉中に情報を開示することがあります。
        </li>
        <li>
          当社は、上記の「UID2管理者によるデータの使用」セクションに記載されている目的のために、The Trade Deskと当社の現在および将来の親会社、関連会社、
          子会社、および共通の支配と所有権の下にある他の企業間で情報を利用可能にすることがあります。
        </li>
      </ul>

      <h2>
        特定の地域の居住者向け追加情報
      </h2>
      <p>
        さまざまな州、国、または地域では、居住者に特定の権利を付与し、追加の開示を要求する消費者プライバシー法(「プライバシー法」)が制定されています。
        有効なプライバシー法を持つ州、国、または地域に居住している場合、このセクションが適用されます。
      </p>
      <p>
        特定のプライバシー法で要求されているように、以下では表を使用してUID2管理者による同一の収集、使用、および開示活動を説明します。
      </p>
      <table>
        <tr>
          <th>
            UID2管理者が収集する個人データのカテゴリ
          </th>
          <th>
            UID2管理者が個人データを開示する受領者のカテゴリ
          </th>
          <th>
            UID2管理者が個人データを開示する受領者のカテゴリ
          </th>
        </tr>
        <tr>
          <td>
            <ul>
              <li>
                識別子(メールアドレス、電話番号、IPアドレス、UID2など)
              </li>
              <li>
                インターネットおよび電子ネットワーク情報(ブラウザ、プラットフォームタイプ、デバイスタイプなど)
              </li>
              <li>
                オプトアウト情報(UID2からオプトアウトする決定の記録など)
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                オプトアウトの選択を伝えるためのUID2サービスの参加者
              </li>
              <li>
                公的機関(法執行機関など)
              </li>
              <li>
                セキュリティおよび不正検出・防止目的など、当社または他者の権利、財産、または安全を保護するために必要な場合の他者
              </li>
            </ul>
          </td>
          <td>
            <ul>
              <li>
                オプトアウト要求の記録を受け取り、維持し、この選択を参加者に提供するため
              </li>
              <li>
                透明性とコントロールポータルの提供と管理
              </li>
              <li>
                トラブルシューティングの実施
              </li>
              <li>
                不正行為の検出と防止の支援、セキュリティ目的
              </li>
              <li>
                内部的に、UID2サービスの機能を改善するため
              </li>
            </ul>
          </td>
        </tr>
      </table>
      <p>
        The Trade Deskは、UID2サービスの管理者としての役割に関連して、要配慮個人情報を含むセンシティブデータ(sensitive personal data)を収集または処理することはありません。
      </p>
      <p>
        UID2サービスの管理者としての役割において、当社は、当初収集した目的を遂行するために必要な期間、特に参加者にオプトアウト要求を通知し、
        その記録を維持するために、個人データを保存します。
      </p>

      <h2>
        あなたのプライバシー権
      </h2>
      <p>
        販売、共有、ターゲティング広告: UID2管理者(現在The Trade Deskが担当する役割)は「販売」、
        「共有」、または「ターゲティング広告」のための情報の使用を行いません。UID2サービスは参加者が広告およびその関連活動に従事することを可能にするため、
        一部の参加者の活動は特定のプライバシー法の下で「ターゲティング広告」のための情報の使用、または個人データの「販売」や「共有」を構成する可能性があります。
        そのため、透明性とコントロールポータルは上記のオプトアウトの選択を提供し、各参加者は追加のオプトアウトの選択肢を提供する場合があります。
      </p>
      <p>
        The Trade Deskのプラットフォームに関連して提供するオプトアウトの選択肢の詳細は、当社のオプトアウトページをご覧いただき、プラットフォームプライバシーポリシーをお読みください。
      </p>
      <p>
        アクセス、訂正、削除: 有効なプライバシー法を持つ州、国、または地域に居住している場合、あなたには以下の権利がある可能性があります：(1) 個人データについてより詳しく知り、アクセスする権利、(2) 個人データの削除を要求する権利、(3) 不正確な個人データの訂正を要求する権利、および (4) プライバシー権の行使を理由に差別されない権利。The Trade DeskがUID2サービスの管理者としての立場で処理するあなたの個人データへのアクセス、削除、または訂正を要求するには、<b>privacy((at))thetradedesk((dot))com</b>までご連絡ください。
      </p>
      <p>
        <b>権限を与えられた代理人</b>: 権限を与えられた代理人は、あなたに代わって透明性とコントロールポータルにオプトアウト要求を提出できます。さらに、
        権限を与えられた代理人は、あなたに代わってアクセス、削除、または訂正要求を提出することもできます。権限を与えられた代理人によって要求が提出された場合、
        当社は要求の対象となる個人に連絡し、本人確認を行い、要求を確認します。
        <br />
        <br />
        権限を与えられた代理人として要求を提出するには、<b>privacy((at))thetradedesk((dot))com</b>までご連絡ください。

      </p>
      <p>
        <i>不服申し立て</i>: 要求が拒否された場合、<b>privacy((at))thetradedesk((dot))com</b>までご連絡いただくことで、その決定に不服を申し立てる権利がある場合があります。不服申し立ての結果について懸念がある場合は、あなたが居住する州の司法長官または適用されるデータ保護当局に連絡できます。
      </p>
      <p>
        <b>差別的不利益な扱いの禁止</b>: The Trade Deskは、法律によってあなたに与えられたプライバシー権を行使したことを理由に、あなたに対し差別的不利益な扱いをすることはありません。
      </p>

      <h2>
        お問い合わせ
      </h2>
      <p>
        このプライバシーポリシーまたはThe Trade Deskのプラットフォームプライバシーポリシーで扱われていないThe Trade Deskによる個人データの取り扱いに関するご質問は、
        以下の方法でお問い合わせいただけます:
      </p>
      <ul>
        <li>
          <p>
            郵送:
          </p>
          <p>
            The Trade Desk – Attention Global Data Protection Ofﬁce 42 N. Chestnut St.,
          </p>
          <p>
            Ventura, CA 93001
          </p>
        </li>
        <li>
          Eメール: <b>privacy((at))thetradedesk((dot))com</b>
        </li>
      </ul>

      <h2>
        ポリシーの変更
      </h2>
      <p>
        UID2管理者は、このUID2管理者プライバシーポリシーを随時変更することがあり、このポリシーの冒頭にある発効日を修正するか、適切と思われる方法で追加の通知を提供することにより、あなたに通知します。
      </p>

    </div>
    <div class='main__footer'>
      <h3 class='main__logo-label'>Powered by</h3>
      <img class='main__logo' src='/images/unifiedid2-logo-rgb-fullcolor-with20-1@2x.png' />
    </div>
  </div>
</body>

</html>