name: Build and Test
on: [pull_request, push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
      # Check out repository $GITHUB_WORKSPACE
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: setup yarn
        uses: actions/setup-node@v2
        with:
          node-version: '20.11.0'
          cache: 'yarn'
      - run: yarn install
      - name: build 
        run: yarn build
      - name: lint 
        run: yarn lint
      - name: test
        #TODO Remove this when we have tests
        run: yarn test --passWithNoTests
      - name: Vulnerability Scan
        uses: IABTechLab/uid2-shared-actions/actions/vulnerability_scan_filesystem@v3
