name: Release EUID TCPORTAL Image
run-name: ${{ inputs.release_type == 'Snapshot' && 'Publish Pre-release' || format('Release {0}', inputs.release_type)}} EUID Docker Image by @${{ github.actor }}  
on:
  workflow_dispatch:
    inputs:
      release_type:
        type: choice
        description: 'The type of release'
        options:
        - Major
        - Minor
        - Patch
        - Snapshot
  pull_request:

jobs:
  Image:
    uses: IABTechLab/uid2-shared-actions/.github/workflows/shared-publish-to-docker-versioned.yaml@kcc-UID2-2674-implement-shared-publish-to-docker-versioned
    with: 
      release_type: ${{ inputs.release_type }}
      docker_file: Dockerfile_euid
      docker_image_name: ghcr.io
      docker_registry: iabtechlab/euid-tcportal
    secrets: inherit
